@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  scroll-behavior: smooth;
  font-size: 62.5%;
  background: url('./Background.png') fixed center center no-repeat;
  background-size: cover;
}

button {
  cursor: pointer;
}

a {
  color: #380049;
}

/* nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #380049;
  padding: 20px 20%;
}

nav img {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  width: 150px;
}

nav li {
  list-style-type: none;
  float: left;
  margin-right: 40px;
  font-size: 1.6em;
} */

main {
  margin: 20vh 0;
  text-align: center;
}

main>img {
  display: block;
  width: 60%;
  margin: auto;
}

main>a {
  display: inline-block;
  margin-top: 40px;
  color: white;
  font-weight: bold;
  border: 3px solid transparent;
  background: #380049;
  padding: 10px 30px;
  border-radius: 100vw;
  font-size: 2em;
  transition: 150ms all;
  text-decoration: none;
}

main>a:hover {
  background: transparent;
  border: 3px solid #380049;
  color: #380049;

}

.card {
  background-color: white;
  padding: 40px !important;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

section {
  padding: 0 20%;
  margin-bottom: 20px;
}

section h1 {
  color: #380049;
  font-size: 5em;
  margin-bottom: 20px;
}

section h2 {
  color: #380049;
  font-size: 3em;
  margin-bottom: 20px;
}

section p {
  font-size: 1.8em;
  display: inline-block;
}

section h3 {
  margin-top: 10px;
  font-size: 2em;
}

section ul {
  font-size: 2em;
  list-style: none;
  line-height: 1.5em;
}

section .inserted {
  background: rgba(64, 64, 64, 0.2);
  font-weight: normal;
  padding: 2px 5px;
}

section code {
  font-family: 'Roboto Mono', monospace;
}

section.database label {
  font-size: 1.8em;
}

section.database input {
  font-size: 1.5em;
  padding: 3px;
  background: white;
  border-radius: 5px;
  margin-right: 20px;
  border: 2px solid white;
}

section.database input[type="submit"] {
  padding: 5px 10px;
  border: 2px solid transparent;
  background: white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 150ms ease;
  transition-property: color background border;
  color: black;
}

section.database input[type="submit"]:hover {
  color: white;
  border: 2px solid white;
  background: transparent;
}

section.database input[type="number"] {
  font-size: 2em;
  padding: 5px;
  background: white;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  width: 2em;
}

section.database .arrow {
  display: inline;
  font-size: 2em;
  background: white;
  padding: 0 5px;
  color: black;
  font-weight: bold;
  margin: 0 10px;
  border-radius: 10px;
  border: 2px solid white;
  transition: 150ms;
  transition-property: color background;
}

section.database .arrow:hover {
  background: transparent;
  color: white;
}

section.database>div {
  padding: 20px 40px;
}

section.database .settings {
  position: relative;
  background-color: #380049;
  border-bottom: transparent;
  color: white;
  border-radius: 20px 20px 0 0;
}

section.database .items {
  padding: 40px 40px;
  background-color: rgba(64, 64, 64, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  border-radius: 0 0 20px 20px;
}

section.database .prize {
  font-weight: bold;
}

section.database .prize span {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 6px 12px;
  font-weight: bold;
  background: #380049;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 1.5em;
}

section.database .prize span.remover {
  top: 15px;
  left: 20px;
  right: unset;
}

section.database .prize span::selection {
  display: none;
}

section.database .product {
  position: relative;
  display: flex;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  background: white;
  border-radius: 20px;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section.database .product img {
  display: block;
  margin: auto;
}

section.database .product p {
  margin-top: 10px;
}

section.database #page {
  font-weight: bold;
  background: white;
  padding: 5px;
  border-radius: 10px;
  min-width: 1.5em;
  text-align: center;
  color: black;
}

section.database .btn-container {
  grid-column: 1 / 4;
}

section.database .btn-container div {
  border-radius: 10px;
  display: inline-block;
  background: #380049;
  color: white;
  border: 2px solid transparent;
  font-size: 1em;
  padding: 10px;
  cursor: pointer;
}

section.database .btn-container .next-page {
  float: right;
}

section.database .btn-container h3 {
  margin: 0 !important;
  display: inline;
}

section.database .cart {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 150ms;
  height: 60px;
}

section.database .cart:hover {
  opacity: 0.8;
}

section.database .cart>div {
  width: 100%;
  position: absolute;
  text-align: right;
  top: 0;
}

section.database p.amount {
  background-color: white;
  padding: 0 5px;
  border-radius: 10px;
  font-weight: bold;
  display: inline;
  color: black;
}

section.database .cart img {
  width: 6em;
}

section.database .intCart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: none;
}

section.database .orders {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  top: 10vh;
  height: 80vh;
  width: 50vw;
  right: 0;
  overflow: auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 40px;
}

section.database .orders p {
  font-size: 1.4em;
}

section.database .orders h3 {
  margin-bottom: 10px;
}

section.database #cart-close {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 3em;
  cursor: pointer;
}

section.database #cart-products {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

section.database #cart-products>p {
  color: #404040;
}

section.database .orders button {
  margin: 20px 0;
  border: none;
  border: 3px solid transparent;
  background: #380049;
  color: white;
  padding: 10px 30px;
  border-radius: 100vw;
  font-weight: bold;
  transition: 150ms;
  transition-property: background border color;
}

section.database .orders button:hover {
  border: 3px solid #380049;
  background: transparent;
  color: #380049;
}

.card ul {
  font-size: 2em;
  list-style-type: none;
}

.card li {
  margin-bottom: 20px;
}

.card li::before {
  content: '';
  display: inline-block;
  background: url('tick.svg') center center no-repeat;
  background-size: contain;
  height: 1em;
  width: 1em;
  margin-right: 10px;
}

section .left {
  width: 50%;
  padding: 0 40px 0 0;
}

section .right {
  width: 50%;
  padding: 0 0 0 40px;
  float: right;
}

.first {
  margin-top: 0 !important;
}

.last {
  margin-bottom: 0 !important;
}

footer {
  position: relative;
  margin-top: 10em;
  width: 100%;
  padding: 30px 20%;
  background-color: #404040;
}

footer * {
  color: white;
}

footer ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer li {
  list-style-type: none;
  font-size: 1.6em;
}

p.copyright {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3em;
}

.order {
  position: fixed;
  display: none;
  content: '';
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  transition: 150ms display;
}

.order-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: white;
  border-radius: 20px;
  font-size: 2em;
  max-height: 100vh;
  overflow-y: auto;
}

.order-box h2 {
  margin-bottom: 40px;
}

.order-box .requirements {
  border: 2px solid #404040;
  background-color: rgba(64, 64, 64, 0.2);
  padding: 10px;
  border-radius: 10px;
  font-size: 0.8em;
  display: inline-block;
  margin-bottom: 20px;
}

.order-box ul {
  margin-top: 10px;
  list-style: none;
}

.order-box li::before {
  content: '∙ '
}

.order-box form div {
  display: inline-block;
  margin: 0 20px 20px 0;
}

.order-box label {
  font-size: 0.8em;
}

.order input {
  background: transparent;
  border: 2px solid #404040;
  border-radius: 5px;
  padding: 7px;
  transition: 150ms;
}

.order input:focus {
  border-color: #380049;
}

.order-box h3 {
  margin-bottom: 10px;
}

#order-box-close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#order-box-close::selection {
  background: transparent;
  color: black;
}

@media only screen and (max-width: 1200px) {
  p.copyright {
    position: static;
    transform: none;
    margin-top: 10px;
  }

  p.copyright br {
    display: none;
  }

  footer {
    padding: 30px 10%;
  }

  section .right, section .left {
    float: none;
    width: unset;
  }

  section .card {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 800px) {
  main>img {
    width: 90%;
  }

  main>a {
    padding: 5px 15px;
    font-size: 1.4em;
  }

  footer {
    padding: 30px 20px;
  }

  section {
    padding: 0 20px;
  }

  section .card {
    padding: 20px !important;
  }
}